@page "/validator/iban-validator"

@inject IStringLocalizer<Resources> Loc

<div>
    <h2>@Loc["TITLE"]</h2>
    
    <fieldset>         
          <div>
            <label class="validator-lable" for="CC"><strong>@Loc["IBAN_LABEL"]</strong></label> &nbsp; &nbsp;
            <input class="validator-input" type="text" @bind="Iban" placeholder="PT50123443211234567890172" @onblur="Validate"/>
            <button>@Loc["BUTTON_LABEL"]</button>
          </div>
          <div>
              <small>More library usage examples <a 
                  target="_blank" 
                  href="https://github.com/masterzdran/document-number-validator/blob/develop/tests/DocumentNumber.InternationalBankAccountNumber.Validator.Tests/InternationalBankAccountNumberTests.cs"
              >here</a>
          </small>
          </div>
     </fieldset>

</div>
<div>
    @if (!String.IsNullOrEmpty(Iban))
    {
        if (IsValid)
        {
            <div class="validation-valid-message"> 
            @Loc["VALID_MESSAGE"]
            </div>
        }
        else 
        {
            <div class="validation-invalid-message"> 
            @Loc["INVALID_MESSAGE"]
            </div>  
        }

    }

</div>
